/* Padronização de fontes */

.normal {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 60px;
}

.default {
  font-size: 1.5rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 2rem;
}

.texto {
  font-size: 1.25rem;
  font-family: "Fira Sans", sans-serif;
}

/* */

ul,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  padding-top: 10px;
  margin: 0;
}

img {
  max-width: 100%;
}