/* Padronização de fontes */

.normal {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 60px;
}

.default {
  font-size: 1.5rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 2rem;
}

.texto {
  font-size: 1.25rem;
  font-family: "Fira Sans", sans-serif;
}

/* */

ul,
a,
h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  padding-top: 10px;
  margin: 0 auto;
  font-family: "Fira Sans";
}

img {
  max-width: 100%;
}

.grid {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}