nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.navbar li {
  transition: 0.3s;
  border: 3px solid transparent;
  padding: 5px;
}

.navbar li:hover {
  border-radius: 4px;
  border: 3px solid #800add;
}

.moldura {
  display: flex;
  align-items: center;
  gap: 10px;
}

.moldura > img {
  max-height: 50px;
  border: 1px #800add solid;
  border-radius: 50%;
}

.moldura > p {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

.desc {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0px auto;
  max-width: 1200px;
  gap: 0px 100px;
  padding: 40px 20px;
  align-items: center;
}

.fotoperfil {
}

.desc h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.desc h1 {
  position: relative;
  font-size: 4.5rem;
  line-height: 1.125;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

.desc div  h1::before {
  content: "";
  display: block;
  position: absolute;
  background: url(../img/detalhe.svg), no-repeat, center;
  height: 100px;
  width: 130px;
  z-index: -1;
  top: -20px;
  left: -40px;
}

.desc p {
  grid-column: 2;
}

.desc div {
  align-self: center;
}

.projeto {
  position: relative;
}

.projeto::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 20px;
  width: 5px;
  height: 20px;
  background-image: url(../img/naosei.svg);
}

.projeto p {
  margin-top: 0px;
}

.stacks > ul > li,
.projeto > p {
  font-size: 1.25rem;
  font-family: "Fira Sans", sans-serif;
}

.stacks > ul {
  display: flex;
  justify-content: space-around;
  gap: 0 20px;
  flex-wrap: wrap;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  align-items: baseline;
  padding-bottom: 50px;
}

article p {
  max-width: 60ch;
}

.sobre {
  grid-column: 2 / -1;
}

article span {
  text-align: end;
}

.stacks {
  max-width: 30ch;
}
.stacks > span {
  margin-right: 30px;
}

/* Responsividade */

@media (max-width: 1000px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header {
    justify-content: center;
  }
  .desc h1 {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .desc {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
  }
  .desc div  h1::before {
    display: none;
  }
  .desc h1 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .fotoperfil {
    display: none;
  }
  .desc {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }
  .desc > div > h1::before {
    background: none;
  }
}
