footer {
    position: relative;
    background-color: #141414;
    color: #fff;
  }
  
  footer::before {
      content: url(../img/detalhe.svg);
      position: absolute;
      top: -60px;
      left: 200px;
  }
  
  .mais {
    margin: 0 auto;
    display: grid;
    max-width: 1200px;
    gap: 100px 200px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 50px 20px;
  }
  
  .mais p {
    font-size: 1.6rem;
    max-width: minmax(60ch auto);
    color: #cccccc;
  }
  
  .mais li {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 25px;
    font-family: "Fira Sans", sans-serif;
    color: #fff;
    align-self: center;
    margin-bottom: 20px;
  }
  
  .mais span {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 32px;
    color: #8f8f8f;
  }
  